.container{
    margin: 0px;
    padding: 0px;
}

.stcLogo {
    border-radius: 10%;

    position: absolute;
    top: 23%;
    left: 60%;
}

.News {
    font-size: 500%;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: dashed;

    position: absolute;
    top: 22%;
    left: 77%;
}

.textArea1 {
    background-color: rgb(214, 208, 208); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;

    width: 922px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 15px;

    position: absolute;
    top: 50%;
    left: 50.7%;
}

.newsIcon1 {
    position: absolute;
    top:52.5%;
    left:86.5%;
}

.textArea2 {
    background-color: rgb(214, 208, 208); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: right;

    width: 922px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-right: 15px;

    position: absolute;
    top: 67%;
    left: 50.7%;
}

.newsIcon2 {
    position: absolute;
    top:70%;
    left:53.1%;
}

.featuresTop {
    background-color: #f4f4f4;
    display: flex; /* Flexcontainer */

    width: 50vw;
    flex-direction: row; /* standardmäßig */
    justify-content: space-evenly;
}
.featuresTopItems {
    background-color: #ccc;
    display: flex;
    text-align: center;
    border-radius: 20px;

    width: 200px;
    height: 130px;

    margin-top: 90px;
    margin-bottom: 90px;

    justify-content: center; /* x-Achse */
    align-items: center; /* y-Achse */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featuresBottom {
    background-color: #f4f4f4;
    display: flex; /* Flexcontainer */

    width: 50vw;
    height: 374px;

    flex-direction: row; /* standardmäßig */
    justify-content: space-evenly;
}

.featuresBottomItems {
    background-color: #ccc;
    display: flex;
    text-align: center;
    border-radius: 20px;

    width: 200px;
    height: 130px;

    margin-top: 90px;
    margin-bottom: 90px;

    justify-content: center; /* x-Achse */
    align-items: center; /* y-Achse */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}