body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center; /* y-Achse */
}

#profilPicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#arbeitsGruppe {
    text-decoration-line: underline;
    text-decoration-color: white;
}

#funktionen12 {
    background-color: #f4f4f4;
    display: flex; /* Flexcontainer */

    width: 50vw;
    flex-direction: row; /* standardmäßig */
    justify-content: space-evenly;
}
.funktionenItem12 {
    background-color: #ccc;
    display: flex;
    text-align: center;
    border-radius: 20px;

    width: 200px;
    height: 130px;

    margin-top: 90px;
    margin-bottom: 90px;

    justify-content: center; /* x-Achse */
    align-items: center; /* y-Achse */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#funktionen34 {
    background-color: #f4f4f4;
    display: flex; /* Flexcontainer */

    width: 50vw;
    height: 374px;

    flex-direction: row; /* standardmäßig */
    justify-content: space-evenly;
}

.funktionenItem34 {
    background-color: #ccc;
    display: flex;
    text-align: center;
    border-radius: 20px;

    width: 200px;
    height: 130px;

    margin-top: 90px;
    margin-bottom: 90px;

    justify-content: center; /* x-Achse */
    align-items: center; /* y-Achse */

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#socials-Header{
    background-color: #f4f4f4;
    font-size: larger;
    font-weight: bolder;

    border: 2px solid black;
    border-radius: 10px;

    width: 50vw;
    text-align: center;
}

.socialsPictures {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 10px;
}

#socialsContainer {
    background-color: #f4f4f4;
    display: flex; /* Flexcontainer */

    width: 50vw;
    flex-direction: row; /* standardmäßig */
    justify-content: space-evenly;
}

.socialsItem {
    display:flex;
    text-align: center;
    align-items: center;
}

#stc-Logo {
    border-radius: 10%;

    position: absolute;
    top: 23%;
    left: 60%;
}

#News {
    font-size: 500%;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: dashed;

    position: absolute;
    top: 22%;
    left: 77%;
}

#textArea {

    background-color: rgb(214, 208, 208); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;

    width: 922px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 15px;

    position: absolute;
    top: 50%;
    left: 50.7%;
}

#newsIcon {
    position: absolute;
    top:52.5%;
    left:86.5%;
}

#textArea2 {
    background-color: rgb(214, 208, 208); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: right;

    width: 922px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-right: 15px;

    position: absolute;
    top: 67%;
    left: 50.7%;
}

#newsIcon2 {
    position: absolute;
    top:70%;
    left:53.1%;
}
